* {
  width: auto;
  height: auto;
  border: 0px;
  margin: 0px;
}

$full-width-column: 684px;
$full-hight-column: $full-width-column * 1.25;

@media screen and (min-width: 1390px) {
  .main-header {
    width: 1400px;
  }
  .full-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .full-product-info, 
  .counter-cart-favorite, 
  .all-img-style {
    display: flex;
  }
  .full-product-img {
    width: 700px;
  }
  .counter-cart-favorite {
    align-items: center;
  }
  .product-description {
    width: 640px;    
  }
  .mobile-menu-button {
    display: none;
  }
  .my-footer-content {
    margin-top: 6rem;
    justify-content: space-around;
    width: 1400px;
  }
  .left-side-footer {
    display: contents;
  }
  .large-img-prod-style, .small-boxes-style {
    width: 700px;
    height: 43rem;
  }
  .img-column {
    width: 100%;
    margin-left: 1rem;
  }
  .small-prod-img {
    width: 100%;
    height: 21rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 900px) and (max-width:1389px) {
  .full-product-info {
    display: flex;
    width: auto;
  }
  .full-product-img {
    min-width: 60%;
    height: $full-hight-column * 0.9;
  }
  .product-description {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: $full-hight-column * 0.8;
  }
  .mobile-menu-button {
    display: none;
  }
  .all-img-style {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .my-footer-content {
    margin-top: 6rem;
    justify-content: space-around;
  }
  .left-side-footer {
    display: contents;
  }
  .large-img-prod-style, .small-boxes-style {
    width: 50%;
    height: 35rem;
  }
  .img-column {
    width: 100%;
    margin-left: 1rem;
  }
  .small-prod-img {
    width: 100%;
    height: 17rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 700px) and (max-width:899px) {
  .full-product-info, .all-img-style {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .full-product-img {
    width: 70%;
    height: $full-hight-column * 0.9;
  }
  .product-description {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
  }
  .mobile-menu-button {
    display: none;
  }
  .my-footer-content {
    margin-top: 6rem;
    justify-content: space-around;
  }
  .left-side-footer {
    display: contents;
  }
  .large-img-prod-style, .small-boxes-style {
    width: 50%;
    height: 25rem;
  }
  .img-column {
    width: 100%;
    margin-left: 1rem;
  }
  .small-prod-img {
    width: 100%;
    height: 12rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 699px) {
  .counter-cart-favorite {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  }
  .full-product-img {
    min-width: 100%;
    min-height: $full-hight-column * 0.85;
  }
  .product-description {
    width: 100%;
  }
  .my-footer-content {
    justify-content:flex-start;
    flex-direction: column;
  }
  .left-side-footer {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
  }
  .all-img-style {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .large-img-prod-style, .small-boxes-style {
    width: 100%;
    height: 26rem;
    margin-bottom: 0.5rem;
  }
  .img-column {
    width: 100%;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .small-prod-img {
    width: 100%;
    height: 13rem;
    margin-bottom: 0.5rem;
  }
}

html, body {
  overflow-x:hidden;
}

p, select, button, h1,h2,h3,h4 .text-regular-small,a  {
  font-family: 'Open Sans';
  font-style: normal;
  letter-spacing: 0.04em;
  color: #333333;
}

.text-regular-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

p, select, button {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.regular-border {
  color: black;
  border: 1px #333333 solid;
}

.corner-button {
  transform: rotate(-90deg);
}

.corner-button:hover {
  background-color: rgb(177, 177, 177);
  cursor: pointer;
}

hr {
  border-top: 0.5px solid #C4C4C4;
}