* {
  width: auto;
  height: auto;
  border: 0px;
  margin: 0px;
}

$full-width-column: 684px;
$full-hight-column: $full-width-column * 1.25;

@media screen and (min-width: 1390px) {
  .full-product-info {
    display: flex;
    width: auto;
    justify-content: center;
    height: max-content;
  }
  .full-product-img {
    width: $full-width-column;
    height: $full-hight-column;
  }
  .counter-cart-favorite {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .product-description {
    min-width: $full-width-column;
    height: $full-hight-column;
  }
}

@media screen and (min-width: 900px) and (max-width:1389px) {
  .full-product-info {
    display: flex;
    width: auto;
  }
  .full-product-img {
    min-width: 60%;
    height: $full-hight-column * 0.8;
  }
  .product-description {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: $full-hight-column * 0.8;
  }
}

@media screen and (min-width: 700px) and (max-width:899px) {
  .full-product-info {
    display: flex;
    flex-direction: row;
  }
  .full-product-img {
    min-width: $full-width-column * 0.7;
    width: 70%;
    height: $full-hight-column * 0.8;
  }
  .product-description {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60rem
  }
}

@media screen and (max-width: 699px) {
  .counter-cart-favorite {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  }
  .full-product-img {
    min-width: 28rem;
    height: 100%;
    background-color: aqua;
  }
  .product-description {
    width: 100%;
  }
}

p, select, button, h1, .text-regular-small {
  font-family: 'Open Sans';
  font-style: normal;
  letter-spacing: 0.04em;
}

.text-regular-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

p, select, button {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.regular-border {
  color: black;
  border: 1px #333333 solid;
}